.page-header {
    background-color: #E6451B;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Mono', monospace;
    text-decoration: underline;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    border-style: none none dashed none;
    border-width: 2px;
    border-color: #E6451B;
    width: 150%;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.nav {
  background-color: #ffffff
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  padding: 3px;
}

.nav li a{
  color: black;
}

.cv {
  text-align: center;
  margin: auto;
  width: 150%;
  border: 2px solid black;
}

.contact-info {
    margin-bottom: 10px;
    border-style: none none dashed none;
    border-width: 2px;
    border-color: black;
    width: 100%;
}