{% extends 'blog/base.html' %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'cvpost_new' %}" id="id_new_cv_post">ADD TO EDUCATION SECTION</a>
            <a href="{% url 'cvpostexperience_new' %}">ADD TO CAREER HISTORY SECTION</a>
            <a href="{% url 'cvpostskills_new' %}">ADD TO SKILLS SECTION</a>
        {% endif %}
    </div>
    <div class="cv">
        <h2 class="cv-header">Anandbir Hothi</h2>
        <div class="contact-info">
            <p class="cv-header">
                11 chetwynd close walsall, West Midlands WS2 0NB
            </p>
            <p class="cv-header">
                Contact number: 07910 745280
            </p>
            <p class="cv-header">
                email address: anandbir@icloud.com
            </p>
        </div>
        <div class="contact-info">
            <h4 class="cv-header">PERSONAL PROFILE</h4>
            <p>Undergraduate university student looking to gain experience and put theory into practice within the
                industry having recently completed my first year with First-Class Honours in Computer Science. I have
                acquired an extensive range of skills, such as teamwork, problem solving, communication and being
                adaptable and I am now looking to implement these in industry, whilst also learning and developing
                additional skills to further my working knowledge.
            </p>
        </div>
        <div class="contact-info" id ="id_cv_list">
            <h4 class="cv-header">EDUCATION</h4>
            {% for post in cvposts %}
                <div>
                     <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="contact-info" id ="id_cv_list2">
            <h4 class="cv-header">CAREER HISTORY</h4>
            {% for post in cvpostse %}
                <div>
                     <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="contact-info" id ="id_cv_list3">
            <h4 class="cv-header">SKILLS</h4>
            {% for post in cvpostss %}
                <div>
                     <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
        <div>
            <h4 class="cv-header">REFERENCES</h4>
            <p class="cv-header">Referees available on request</p>
        </div>
    </div>
{% endblock %}