{% extends 'blog/base.html' %}

{% block content %}
    <div>
        <h1>Welcome To My Website</h1>
    </div>
    <p>
        Hi my name is Anandbir Hothi and you are currently on my website that was made using the Django framework and
        the python programing language. You are currently on the homepage but you can navigate to the main sections of
        this website by clicking the buttons below the title of the page. Clicking the 'blog' button will take you to the
        blog page which contains multiple posts, made by me, about my time at University of Birmingham and the
        construction of the site itself. Clicking 'CV' will naturally take you to my CV which can and will be update over
        time as I earn new qualifications and get more work experience. If at any time you wish to return to this page
        you can click the title ('Anandbir's website') to get back.
    </p>
{% endblock %}